@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Chakra+Petch:wght@400;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/akira-expanded');

html {
  font-size: .625em; /* fallback IE8+ */
  font-size: calc(1em * .625); /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Bai Jamjuree', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Global Font :
font-family: 'Poppins', sans-serif;

The Eruption Fonts :
font-family: 'Abhaya Libre', serif;
font-family: 'Aclonica', sans-serif;

The Expansion Fonts :
font-family: 'Akira Expanded', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
 */